{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/goals.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Open+Sans" rel="stylesheet">
</head>
<body>
<h1 id="title" >ACHIEVE IT LIST</h1>
{% if latest_goallist_list %}
<ul>
    {% for goallist in latest_goallist_list %}
    <li><a href="{%url 'goals:detail' goallist.id %}" id ="links">{{ goallist.goal_title }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>No goal lists are available.</p>
{% endif %}
</body>
</html>